@import 'tailwindcss';

@theme {
  --color-red: #C73B0F;
  --color-green: #1EA575;
  --color-rose-50: #FCF8F6;
  --color-rose-100: #F5EEEC;
  --color-rose-300: #CAAFA7;
  --color-rose-400: #AD8A85;
  --color-rose-500: #87635A;
  --color-rose-900: #260F08;
  --font-sans: 'Red Hat Text', sans-serif;
}

@layer base {
  body {
    font-family: 'Red Hat Text', sans-serif;
    background-color: #FCF8F6;
  }
}
